@use '@/styles/index.scss' as s;

.container {

  width: 100%;

  @include s.card_space;

  display: flex;
  flex-flow: column;
  gap: 1rem;


  & :local {

    .field {

      & :global {
        // border radius for mui text field
        .MuiOutlinedInput-root {
          border-radius: 15px;
          padding: .5rem;
        }
      }

    }

    .btn {
      box-shadow: none;
      padding: .55rem 1.5rem;
      background-color: snow;
      color: black;
      font-weight: 300;
      border: thin solid rgba(s.$clrs-accent, 0.5);
      margin-left: auto;


      &:hover {
        //transition: box-shadow 0.2s ease-out 0s;
        box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgba(s.$clrs-accent, 0.5) 0px 0px 0px 6px;
      }
    }

  }
}
