@use '@/styles/index.scss' as s;


.container {
  border-radius: 50px;
  background-color: white;
  padding: 3rem 2.5rem;

  max-width: 30rem;
  width: 100%;

  position: sticky;
  align-self: flex-start;
  top: 5%;
  //min-height: 100vh;

  @include s.media-breakpoint-up(md) {
    max-width: 30vmax;
  }

  @include s.media-breakpoint-up(xl) {
    max-width: 30rem;
  }


  & :local {

    .side_nav {
      //margin-bottom: 2.5rem;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3rem;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      }
    }

    .wrapper {
      display: flex;
      flex-flow: column;
      gap: 1rem;
      overflow: hidden;

      // gradient at the bottom


    }

    .progress {
      position: relative;
      background-color: #D9D9D9;
      border-radius: 500px;
      display: flex;
      height: 2rem;
    }

    .target {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;

      P {
        font-weight: 400;
      }
    }

    .collected {
      position: relative;
      width: 60%;
      //height: 100%;

      .tooltip {
        position: absolute;
        right: 5%;
        top: 0;
        //width: 4px;
        //height: 3px;
        //background-color: red;
      }

      .wave {
        //background-color: red;
        width: 100%;
        height: 100%;
        //height: 2rem;
        //padding: 1rem;
        border-radius: 445px;
        display: block;
        background-color: #E3CCB5;
        margin: 0;
        //position: absolute;
        //top: 0;
        transform: scale(1);

        &::after {
          background: linear-gradient(90deg, transparent, rgb(207 144 80 / 53%), transparent);
        }
      }

    }


    .stats {
      display: flex;
      justify-content: space-between;
      gap: .5rem;

      .btn {
        box-shadow: none;
        padding: .35rem .7rem;
        background-color: snow;
        color: black;
        font-weight: 300;
        border: thin solid rgba(s.$clrs-accent, 0.7);
        white-space: nowrap;

        h6 {
          color: #505050;
        }

        //flex: 1;

      }

    }


  }

}

